<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
</head>
<body>
	<h1>Landing page</h1>

	<h3>Bookstore</h3>
	<ul>
		<li><a th:href="@{/booklist}">Book list</a></li>
	</ul>
	
	<h3>Chapter 5</h3>
	<ul>
		<li><a th:href="@{/books}">C5E1A - REST all books</a></li>
		<li><a th:href="@{/book/5}">C5E1B - REST book by ID</a></li>
		<li><a th:href="@{/api}">C5E2 - Spring Data REST</a></li>
	</ul>
	
	<h3>Chapter 2</h3>
	<ul>
		<li><a th:href="@{/hello?name=John&age=20}">C2E1 - Hello Thymeleaf</a></li>
		<li><a th:href="@{/listofbooks}">C2E2 - Handling lists</a></li>
		<li><a th:href="@{/friendlist}">C2E3 - Friend list</a></li>
	</ul>
</body>
</html>